<li>
{{# if articleIsShowing}}

 {{article.title}} by {{article.author}}  <br> {{article.type}}

 {{#if isImageShowing }}
   <p><img src={{article.image}} alt={{article.type}}> </p>
   <button {{action 'imageHide'}}> Hide Image </button>
 {{else}}
   <button {{action 'imageShow'}}> Show Image </button>
 {{/if}}
 <button {{action 'hideArticle' article}}>Hide {{article.title}}</button>
 {{else}}
 <button {{action 'showArticle' article}}>Show {{article.title}}</button>
 {{/if}}
</li>
